body {
    color: white;
    background: #0A0E11;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    margin: 0px;
}

#header {
    padding: 20px;
    background: #E04E4E;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: bold;
}

#backgroundCalculator {
    width: 250px;
    background: white;
    text-align: center;
    border: 1px solid #D1D1D2;
    display: inline-block;
}

#inputNumber {
    width: 100%;
    background: black;
    height: 50px;
    text-align: right;
    display: flex;
}

#inputNumber div {
    font-size: 28px;
    margin: 10px;
    width: 100%;
}

#containerBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.actionColumn {
    width: 25%;
}

.actionRow {
    height: 50px;
    vertical-align: middle;
}

.actionRow button {
    background: white;
    border: 1px solid #D1D1D2;
    border-radius: 3px;
    font-size: 18px;
    height: 40px;
    margin: 5px;
    width: 50px;
}

.actionRow button:hover {
    background: #D1D1D2;
    cursor: pointer;
    /* outline: none; */
}

.actionRow button:focus {
    outline: none;
}

#rowAC {
    background: #E04E4E;
    color: white;
}

#rowAC:hover {
    background: #D1D1D2;
}

.actionRowEquals {
    height: 200px;
}

.actionRowEquals button {
    background: #007FD7;
    border: 1px solid #D1D1D2;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    height: 190px;
    margin: 5px;
    width: 50px;
}

.actionRowEquals button:hover {
    background: #D1D1D2;
    cursor: pointer;
}

.actionRowEquals button:focus {
    outline: none;
}

.operatorBtn {
    color: #007FD7;
}